.open-settings-button {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 99;
}

.wordcloud-settings {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    border-radius: 6px;
    padding: 6px 10px;
    z-index: 100;
    box-shadow: 0 5px 6px rgba(0,0,0,0.5);
    font-size: var(--font-ui-small);
}
.wordcloud-settings h2 h3{
    margin: 5px;
}
.wordcloud-settings input[type="checkbox"] {
    cursor: pointer;
    user-select: none;
}
.wordcloud-settings input[type="text"] {
    font-size: var(--font-ui-small);
    padding: 2px 4px;
}

.wordcloud-settings button {
    font-size: var(--font-ui-small);
    padding: 2px 6px;
    cursor: pointer;
}

.dirs-block {
    margin-bottom: 10px;
}
.dirs-block h3 {
    margin: 3px;
}

.dirs-list {
    margin-top: 5px;
    max-height: 120px;
    overflow-y: auto;
}

.dirs-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-secondary);
    padding: 2px 4px;
    margin-bottom: 3px;
    border-radius: 4px;
    font-size: var(--font-ui-small);
}

.dirs-item span {
    color: var(--text-error);
}